{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "o6doxopa68lg3"
  },
  "info": {
    "title": "User Experience",
    "version": "1.0",
    "description": "The User Favorites API allows users to save objects as favorites and access frequently used items quickly"
  },
  "servers": [
    {
      "url": "https://config.counterbalance.io"
    }
  ],
  "paths": {
    "/v1/ux/favorites": {
      "get": {
        "summary": "List User Favorites",
        "responses": {},
        "operationId": "list-favorites",
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "User Favorites"
        ]
      },
      "post": {
        "summary": "Add Favorite Item",
        "operationId": "add-favorite",
        "responses": {
          "200": {
            "$ref": "#/components/responses/201-Create-Favorite"
          }
        },
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "User Favorites"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Create-Favorite"
        }
      }
    },
    "/v1/ux/favorites/{favoriteId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/favoriteId"
        }
      ],
      "delete": {
        "summary": "Remove Favorite",
        "operationId": "remove-favorite",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "User Favorites"
        ],
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    },
    "/v1/ux/favorites/search": {
      "post": {
        "summary": "Check Favorite Status",
        "operationId": "search-favorite",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-Favorite-Search"
          }
        },
        "description": "",
        "security": [
          {
            "Bearer Token": []
          }
        ],
        "tags": [
          "User Favorites"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Favorite-Search"
        }
      },
      "parameters": []
    },
    "/v1/ux/view": {
      "parameters": [],
      "post": {
        "summary": "Add View Item",
        "operationId": "add-view-item",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "tags": [
          "View History"
        ],
        "security": [
          {
            "Bearer Token": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "View-Item": {
        "title": "View Item",
        "x-stoplight": {
          "id": "my08psuqi4rez"
        },
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "x-tags": [
          "View History"
        ]
      },
      "Favorite-Item": {
        "title": "Favorite Item",
        "x-stoplight": {
          "id": "ij7mf49xqw75n"
        },
        "type": "object",
        "x-tags": [
          "User Favorites"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "hash": {
            "type": "string"
          },
          "object": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "readOnly": true
              },
              "type": {
                "type": "string",
                "enum": [
                  "collector",
                  "controller",
                  "equipment",
                  "gateway",
                  "meter",
                  "point",
                  "report",
                  "reset",
                  "routine",
                  "site",
                  "user"
                ],
                "readOnly": true
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer Token": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "favoriteId": {
        "name": "favoriteId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "A valid favorite item UUID"
      }
    },
    "requestBodies": {
      "Favorite-Search": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "collector",
                    "controller",
                    "equipment",
                    "gateway",
                    "meter",
                    "point",
                    "report",
                    "reset",
                    "routine",
                    "site",
                    "user"
                  ]
                },
                "id": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          }
        }
      },
      "Create-Favorite": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "collector",
                    "controller",
                    "equipment",
                    "gateway",
                    "meter",
                    "point",
                    "report",
                    "reset",
                    "routine",
                    "site",
                    "user"
                  ]
                },
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "type",
                "id",
                "name"
              ]
            }
          }
        }
      }
    },
    "responses": {
      "200-List-Favorites": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "index": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid",
                    "readOnly": true
                  },
                  "readOnly": true
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Favorite-Item"
                  }
                }
              }
            }
          }
        }
      },
      "201-Create-Favorite": {
        "description": "Created",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "readOnly": true
                }
              }
            }
          }
        }
      },
      "200-Favorite-Search": {
        "description": "Ok",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "uuid",
                  "readOnly": true
                }
              }
            }
          }
        }
      }
    }
  }
}